<!DOCTYPE html>
<html lang="en">
   <img>
   <body bgcolor="#FFFFFF">
   <meta charset="UTF-8">
   <title> Face Recognition </title>
   <center>
      <style>
         div {
         background: #ccffff;
         border: 2px solid black;
         padding: 20px;
         }
      </style>
      </head>
      <div>
         <font  face="Roboto">
            <h1>Face Recognition Program</h1>
            <h2>Team BlueBerryTeam</h2>
            <p><a href="upload">Face Recognition Upload </a></p>
            <p><a href="video">Real-time Face detection</a></p>
         </font>
      </div>
      </head>
      <font  face="Roboto">
    
         <footer>
            <small>&copy; DaIn GeunO JungMin MinAh</small>
         </footer>
      </font>
   </center>
   </body>
</html>